@charset "utf-8";
/* .zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
h1{
    /*font-family: "Zen Kurenaido", sans-serif;*/
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 45px;
}
   h2{
    /*font-family: "Zen Kurenaido", sans-serif;*/
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 30px;
    background-color: #F1E3E3;
   }
   h3{
    font-size: 30px;
   }
    img{
        border: none;
        display: block;
    }
    h1,h2,h3{
        margin: 0;
    }
    body {
    font-size: 20px;
    line-height: 1.7;
    color: #333;
    background-color: rgb(208, 209, 219); /* 透明度を含む背景色 */
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic", sans-serif;
}
    .search-container {
        float: right;
      }
      .search-container input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
      }
      .search-container button {
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
      .search-container button:hover {
        background: #ccc;
      }
    header {
        background-color: rgba(122, 122, 226, 0.5);
    }
    input[type="text"] {
        float: right;
    }
    .media-item{
            width: 75%; /* 画像の幅を親要素に合わせる */
        height: auto; /* オリジナルの縦横比を維持 */
            object-fit: cover; /* 画像を正方形に維持するために追加 */
        margin-left: auto;
        margin-right: auto;
            margin-left: 0; /* 左詰め */
            margin-right: auto;
    }
    .section{
        color: #333;
    }
    .component-cards{
        color: #333;
    }
    .card{
        color: #362E2B;
        display: flex;
        font-size: 15px;
        flex: 100px; /* フレックスアイテムの伸縮と最小・最大幅を指定 */
        margin: 10px; /* カード間の間隔を調整 */
    position: relative; /* 相対位置 */
    display: inline-block; /* インラインブロック要素に変更 */
    margin-right: -4px; /* 右側の余白を調整 */
}
    .image{
        color: #362E2B;
         position: relative; /* 相対位置 */
        width: 75%; /* 画像の幅を親要素に合わせる */
    position: relative;
    color: #362E2B;
    width: 75%;
}
    /* 以下、画像とタイトルのスタイル */
 table {
        width: 100%;
        border-collapse: collapse;
        color: #362E2B;
        background-color: #F1E3E3;
    }
    th, td {
        border: 1px solid #524D4D;
        padding: 8px;
        text-align: center;
        background-color: #F1E3E3;
    }
    th {
        background-color: #F2F2F2;
    }
    ;
 .overlay-text {
    position: absolute; /* 絶対位置 */
    bottom: 0; /* 下端に配置 */
    left: 0; /* 左端に配置 */
    width: 100%; /* 幅を100%に */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    color: white; /* テキスト色 */
    padding: 10px; /* パディング */
    text-align: center; /* テキストを中央揃え */
    font-weight: bold; /* 太字 */
    font-size: 18px; /* フォントサイズ */
    box-sizing: border-box; /* paddingが幅に含まれるように */
    z-index: 1; /* 画像よりも上に配置 */
    transform: translate(-50%, -50%); /* 中央揃え */
    text-shadow: 100px 100px 40px rgba(0, 0, 0, 0.5); /* テキストに影を付ける */
}
    .media-title {
    position: absolute;
    bottom: 10px; /* 下部からの位置調整 */
    left: 10px; /* 左部からの位置調整 */
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
    padding: 5px; /* パディング */
    border-radius: 5px; /* 角丸 */
    white-space: nowrap; /* テキストを一行で折り返さないように */
    overflow: hidden; /* 内容がはみ出た場合は表示しない */
    text-overflow: ellipsis; /* 内容がはみ出た場合は省略記号で表示 */
}
        .card-container {
            display: flex; /* カードを横並びにする */
            flex-wrap: wrap; /* カードが行を超えた場合に折り返す */
            max-width: 100%; /* 画像の幅が親要素に合わせて調整される */
            height: auto; /* アスペクト比を保持しつつ、高さは自動調整される */
   			 justify-content: center; /* 要素を中央配置 */
}
  /* スマートフォンサイズ以下の場合に幅を100%に設定 */
@media (max-width: 768px) {
    selector {
        width: 100%;
    }
}
.media {
    position: relative; /* 相対位置 */
}
a{
    display: block;
}
/* iframeを中央配置するためのスタイル */
        #centered-iframe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto; /* ページ全体の高さを自動調整 */
            padding: 20px; /* 必要な場合は適切なパディングを追加 */
        }
        /* iframeを画面幅いっぱいに広げる */
        #centered-iframe {
            width: 100%;
            max-width: 800px; /* 幅の最大値を設定 */
            height: 600px;
        }
        /* スマートフォンの場合、高さを自動調整する */
        @media only screen and (max-width: 600px) {
            #centered-iframe {
                height: auto;
            }
        }