<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部活動ページ</title>
	<link href="style2.css" rel="stylesheet" type="text/css">
	
    <style>  
  

    </style>
</head>
<body>
        <section>
        <header>
            <h1>謎解き部</h1>
            <img src="/images/nazotoki.jpg" width="948" height="340"alt="謎解き部">
        </header>
            <h2>部活の紹介</h2>
            <p>謎解き部です。謎解き部では現在毎月の開催を目標に活動しています。具体的な活動は・・・</p>
            
            <h2>部員数</h2>
            <p>部員：24名（2024年3月時点）</p>

            <h2>活動場所</h2>
            <p>活動場所をここに入力</p>

            <h2>お問い合わせ先</h2>
            <p>お問い合わせ先をここに入力</p>
        </section>
    <section>
        <h2>申し込みフォーム</h2>
        <p>申し込みフォームへのリンク:</p>
        <a href="申し込みフォームのリンクURL" target="_blank">申し込みフォームへ</a>
    </section>
    <section>
        <h2>コメント欄</h2>
        <form action="#" method="post">
            <textarea name="comment" id="comment" cols="30" rows="5" placeholder="コメントを入力してください"></textarea>
            <br>
            <input type="submit" value="コメントする">
        </form>
    </section>
    <footer>
        <p>&copy; 2024 部活動名. All rights reserved.</p>
    </footer>
</body>
</html>