<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スノーボード部</title>
	<link href="style2.css" rel="stylesheet" type="text/css">
	
</head>
<body class="page-done">
	<div class="global-wrapper">
<header>
	<!-- 戻るボタン -->
	<a href="/top" class="back-button">戻る</a>
	<div class="header-text">WakuWaku</div>
	<img src="/images/W3.png" alt="サイトのロゴ">
</header>
<main class="main">
	<div class="header-section">
		<div class="component-hero narrow">
			<div class="media image-landscape" data-imagecover>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
		<h1>
		スノーボード部
		</h1>
			<div class="section">
				<div class="department-page_header">
					<div class="image">
						<div class="media image-landscape" data-imagecover>
						<img src="/images/skii.jpg" alt="スノーボード部" class="media-item">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
		<h2>
		部活の紹介
		</h2>
		<p>当部では、定期的に謎解きイベントを企画・実施し、社内のチームビルディングを図っています。</p><br>
		<p>また、パズルや謎解きゲームの研究と解析を通じてメンバーの知識とスキルを向上させ、楽しく創造的な活動を推進しています。</p>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
			<h2>
			部員数
			</h2>
			<p>
			部員数:24名（2024年３月時点）
			</p>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
			<h2>
			活動場所
			</h2>
			    <p>謎解き部の活動場所は、学内のクラブルームを利用しています。ここでは、快適な環境の中で謎解きの準備や実践を行います。</p><br>
				<p>机や椅子が配置された広々とした空間で、メンバー同士がアイデアを出し合いながら、謎解きの謎に挑戦しています。</p><br>
				<p>時にはリラックスした雰囲気の中で、新たな謎解きのアプローチや戦略を考えることもできます。</p>
			<div class="gmap">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1362.5128186665395!2d139.73480808667932!3d35.68636070363882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c63c3955555%3A0xccd3a5172874bd51!2z44ix44K744OW44OzJuOCouOCpO-9peODjeODg-ODiOODoeODh-OCo-OCog!5e0!3m2!1sja!2sjp!4v1716794721317!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
			<h2>
			お問い合わせ先
			</h2>
			<p>謎解き部</p><br>
			<p>代表: 山田太郎</p><br>
			<p>副代表: セブン花子</p><br>
			<p>TEL: 01-2345-6789</p><br>
		</div>
	</div>
	<div class="section">
		<div class="page-wrapper">
			<h2>
			入部について
			</h2>
			<p>
			入部希望の方はこちらから
			</p>
			<a href="/form" target="_blank">入部希望届フォームへ</a>
		</div>
	</div>
		<h2>コメント欄</h2>
		<form th:action="@{/add}" method="post">
			<div>
				<label for="name">名前:</label>
				<input type="text" name="name" th:value="*{name}" required>
			</div>
			<label for="comment">メッセージ:</label>
			<textarea id="comment" name="comment" th:value="*{comment}" rows="4" required></textarea>
			<button type="submit">投稿</button>
			
		</form>
		
		
		 <div id="posts">
		        <h2>投稿一覧</h2>
		        <div th:each="res : ${dbList}" >
					<form th:action="@{/del/{id}(id=${res.id})}" method="post">
		            <p><strong>名前:</strong> <span th:text="${res.name}"></span></p>
		            <p><strong>メッセージ:</strong> <span th:text="${res.comment}"></span></p>
		            <p><em>投稿日:</em> <span th:text="${res.datetime}"></span></p>
					<button type="submit">削除</button>
					</form>
		        </div>
				
		 </div>
	</main>
	<footer>
	        <p>&copy; 2024 WakuWaku. All rights reserved.</p>
	    </footer>
	</div>
</body>
</html>