<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zen+Kurenaido&display=swap"
		rel="stylesheet">
	<title>Wakuwaku</title>
	<link rel="stylesheet" href="style4.css" type="text/css">
</head>
<body>
	<header>
		<div class="search-container">
			<form action="/search" method="get">
				<input type="text" placeholder="検索..." name="q">
				<button type="submit">検索</button>
			</form>
		</div>
		<div id="headerInner">
			<h1>WakuWaku</h1>
	</header>
	<h2>部活一覧</h2>
	<!-- <div class="section">  -->
	<!-- <div class="page-wrapper"> -->
	<!-- <div class="section">  -->
	<!-- <div class="component-cards">  -->
	<ul id="部活一覧">
		<div class="card-container">
			<div class="card">
				<a href="http://localhost:8080/keijiban" class="card-inner">
					<div class="image">
						<div class="media image-landscape" data-imagecover="">
							<img src="/images/tantei.jpg" alt="謎解き部" class="media-item">
							<div class="overlay-text"></div> <!-- 追加 -->
						</div>
						<p class="media-title"> <span class="media-title-inner">謎解き部</span> </p>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="http://localhost:8080/karaoke" class="card-inner">
					<div class="image">
						<div class="media image-landscape" data-imagecover="">
							<img src="/images/karaoke1.jpg" alt="カラオケ部" class="media-item"></div>
						</div>
						<div class="overlay-text"></div>
						<p class="media-title">
							<span class="media-title-inner">カラオケ部</span>
						</p>
					</div>
				</a>
			</div>
		</div>
		<div class="card-container">
			<div class="card">
				<a href="http://localhost:8080/boardgame" class="card-inner">
					<div class="image">
						<div class="media image-landscape" data-imagecover="">
							<img src="/images/bordgame1.jpg" alt="ボードゲーム部" class="media-item">
						<div class="overlay-text"> <!-- 追加 -->
						</div>
						<p class="media-title"> <span class="media-title-inner">ボードゲーム部</span> </p>
					</div>
					</div>
				</a>
			</div>
			<div class="card">
				<a href="http://localhost:8080/basketball" class="card-inner">
					<div class="image">
						<div class="media image-landscape" data-imagecover="">
							<img src="/images/basketball.jpg" alt="バスケ部" class="media-item">
						</div>
						<div class="overlay-text"></div>
						<p class="media-title"> <span class="media-title-inner">バスケ部</span> </p>
					</div>
				</a>
			</div>
		</div>
		<div class="card-container">
					<div class="card">
						<a href="http://localhost:8080/football" class="card-inner">
							<div class="image">
								<div class="media image-landscape" data-imagecover="">
									<img src="/images/soccer4.jpg" alt="フットボール部" class="media-item">
									<div class="overlay-text"></div> <!-- 追加 -->
								</div>
								<p class="media-title"> <span class="media-title-inner">フットボール部</span> </p>
							</div>
						</a>
					</div>
		
		
		
		
		
					<div class="card">
						<a href="http://localhost:8080/snowboard" class="card-inner">
							<div class="image">
								<div class="media image-landscape" data-imagecover="">
									<img src="/images/skii.jpg" alt="スノーボード部" class="media-item">
								</div>
								<div class="overlay-text"></div>
								<p class="media-title"> <span class="media-title-inner">スノーボード部</span> </p>
							</div>
						</a>
					</div>
				</div>
		</div>
		</div>
		</div>
	</ul>
	</div>
	<h3>今月の活動カレンダー</h3>
	<div id="centered-iframe-container">
		<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FTokyo&bgcolor=%23b1d6f6&hl=ja&src=Y2h1YW5xNjk1QGdtYWlsLmNvbQ&src=ZW4uamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%230B8043" style="border:solid 1px #777" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
	</div>